@import url("./vars.css");
@import url("./rating-state.css");
@import url("./thankyou-state.css");
@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Overpass";
  font-size: var(--size);
}
body {
  padding: 0;
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-Dark-Blue);
  height: 100vh;
}
section {
  background-color: hsla(213, 19%, 18%, 70%);
  width: 85%;
  border-radius: 1rem;
}
circle {
  fill: var(--Medium-Grey);
}
@media (min-width: 600px) {
  section {
    width: 23rem;
    border-radius: 1.5rem;
  }
}
